@import "../../assets/variables.scss";

.header {
  color: $white_color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 50px 25px;
  border-bottom: 1px solid $light_blue_color;

  &__leftSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & h3, p {
      line-height: 30.025px;
    }

    & h3 {
      font-size: 27.801px;
      font-weight: 700;
    }

    & p {
      font-size: 26.257px;
      font-weight: 500;
    }
  }

  &__rightSide {
    display: flex;
    gap: 35px;
    align-items: center;

    &--link {
      color: $white_color;
      font-size: 19px;
      line-height: calc(28px - 2.5px);
      text-transform: uppercase;
      text-decoration: none;
      transition: all 150ms ease-in-out;
      padding-bottom: 2.5px;

      &:hover {
        font-weight: 700;
        line-height: calc(28px - 2.5px - 1px);
        border-bottom: 1px solid $white_color;
      }
    }

    &--logInButton {
      cursor: pointer;
      padding: 10px 25px;
      font-size: 21px;
      font-weight: 400;
      line-height: 27.3px;
      color: $white_color;
      border: none;
      border-radius: 60.526px;
      background-color: $blue_color;
      overflow: hidden;
      position: relative;
      z-index: 2;

      &--background {
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: linear-gradient(#81deff, #81deff);
        transition: all 500ms ease-in-out;
        z-index: -1;
        border-radius: 50%;
      }

      &:hover {
        color: $marine_blue_color;
      }

      &:hover &--background {
        width: 150%;
        height: 406%;
        border: none;
      }
    }
  }
}
