.tips-modal-content {
  padding-top: 37px;
  padding-bottom: 47px;
  height: 476px;
  width: 875px;

  & h3 {
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
  }
}
