@import "../../assets/variables.scss";

.modal {
  @include flex-to-center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: $marine_blue_opacity_color;

  &__window {
    border-radius: 20px;
    border: 1px solid $light_marine_color;
    background-color: $dark_marine_color;
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    &--open {
      opacity: 1;
    }
  }

  &__header {
    padding: 20px 25px 15px;
    border-bottom: 1px solid $light_marine_color;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.7px;
    color: $french-gray;
    text-transform: uppercase;
  }

  &__btn {
    cursor: pointer;
    user-select: none;
    width: 21px;
    height: 21px;
    border: 0;
    border-radius: 50%;
    background-color: $light_marine_color;
  }

  &__body {
    padding-left: 25px;
    padding-right: 25px;
  }
}
