@import "../../assets/variables.scss";

.right-bar {
  width: 420px;
}
.left-bar {
  width: 315px;
}
.viewer-container {
  width: calc(100% - 420px - 315px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.constructor {
  width: 100%;
  height: calc(100% - 90px);
  display: flex;
  justify-content: space-between;
  padding: 35px 50px;
  .constructor--info {
    display: flex;
    align-items: center;
    color: $french-gray;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    span {
      margin-left: 5px;
    }
  }
}
button.constructor-btn {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--BLue, #006ff2);
  border: none;
  justify-content: center;
  color: $white_color;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  cursor: pointer;
  user-select: none;
}
.mirror-x {
  transform: scaleX(-1);
}

.left-bar {
  .left-bar--title {
    color: $white_color;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    max-width: 270px;
    margin: 25px 0 10px 0;
  }
  .left-bar--order {
    color: $white_color;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}
