@import '../../assets/variables.scss';

.faq {
  padding: 63px 50px;
  overflow: hidden;

  &__headerText {
    color: $white_color;

    &--text {
      font-size: 47px;
      font-weight: 500;
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgb(20, 105, 202);
    height: 10px;
  }

  &__content {
    color: $white_color;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 800px;
    overflow-y: auto;
    gap: 30px;
    padding: 20px 0;

    &--block {
      width: calc(28% - 15px);
      border: 1px solid $light_marine_color;
      border-radius: 15px;
      padding: 20px 30px;
      background-color: $dark_marine_color;

      &__header {
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 15px;
      }

      &__content {
        font-size: 15px;
        line-height: 22px;
      }
    }
  }

  &__backButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

    &--button {
      text-decoration: none;
      display: flex;
      align-items: center;
      background-color: $blue_color;
      font-size: 17px;
      justify-content: space-between;
      color: $white_color;
      border: none;
      border-radius: 60px;
      padding: 10px 20px;

      & img {
        margin-left: 10px;
      }
    }
  }
}
